.destination-items {
  width: 312px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.destinations .destination-items .item .img-item {
  width: 312px;
  height: 360px;
}

.destinations .destination-items .item .img-item.tokyo {
  background: url(../img/tokyo-mobile.jpg) no-repeat;
  background-size: cover;
}

.destinations .destination-items .item .img-item.osaka {
  background: url(../img/osaka-mobile.jpg) no-repeat;
  background-size: cover;
}

.destinations .item header h4 {
  font-size: 32px;
  font-weight: var(--title-weight);
  margin-top: 24px;
}

.destinations .item p {
  font-size: 20px;
  line-height: 32px;
  margin: 24px 0;
}

.destinations .item footer .button {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .destinations .destination-items .item .img-item {
    width: 648px;
    height: 452px;
  }
  
  .destinations .destination-items .item .img-item.tokyo {
    background: url(../img/tokyo-tablet-desk.jpg) no-repeat;
    background-size: cover;
  }

  .destinations .destination-items .item .img-item.osaka {
    background: url(../img/osaka-tablet-desk.jpg) no-repeat;
    background-size: cover;
  }
  
  .destinations .item footer .button {
    width: 280px;
  }
}

@media screen and (min-width: 1024px) {
  .destination-items {
    width: 1200px;
    flex-direction: row;
    gap: 24px;
  }

  .destinations .destination-items .item .img-item {
    width: 588px;
  }
}