:root {
  --background-primary-color: #FFF;
  --background-secondary-color: #F5F5F5;
  --background-tertiary-color: #000;

  --primary-color: #8F0101;
  --secondary-color: #B81515;

  --text-primary-color: #222;
  --text-secondary-color: #FFF;
  
  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  color: var(--text-primary-color);
}

section {
  width: 312px;
  margin: 0 auto 88px;
}

section.hero {
  width: 100%;
  margin: 0;
}

.section-title h2 {
  font-size: 28px;
  font-weight: var(--title-weight);
  text-align: center;
}

.section-title hr {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  border: 0;
  margin: 16px auto 32px;
}

.button {
  display: inline-block;
  min-width: 280px;
  height: 64px;
  color: var(--text-secondary-color);
  font-weight: var(--title-weight);
  font-size: 20px;
  text-decoration: none;
  line-height: 64px;
  text-align: center;
  background: var(--secondary-color);
  border-radius: 8px;
}

@media screen and (min-width: 768px) {
  section {
    width: 648px;
  }

  .section-title h2 {
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
   section {
      width: 900px;
    }

  .button:hover {
    background: var(--primary-color);
  }
}

@media screen and (min-width: 1024px) {
   section {
      width: 1200px;
    } 
}