header {
  background-color: var(--background-tertiary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px 48px;
  position: relative;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position : absolute;
  top: 99%;
  left: 0;
  padding: 0 12%;
  width: 100%;
  background-color: var(--background-tertiary-color);
}

nav {
  display: none;
}

.list-links {
  list-style: none;
}

.list-links li {
  margin: 16px 0;
}

.list-links li a {
  color: var(--text-secondary-color);
  text-decoration: none;
}