.payments h3 {
  margin-bottom: 24px;
}

.payments .image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  height: 460px;
  margin-top: 24px;
  width: 100%;
}

.payments .content-container .image-gallery .image {
  height: 254px;
}

.payments .content-container .image-gallery .image.first {
  background: url(../img/bag-mobile.jpg) no-repeat;
  background-size: cover;
}

.payments .content-container .image-gallery .image.second {
  background: url(../img/passport-mobile.jpg) no-repeat;
  background-size: cover;
}

.payments .content-container .image-gallery .image.third {
  width: 100%;
  height: 182px;
  background: url(../img/people-mobile.jpg) no-repeat;
  background-size: cover;
}

.payments .content-container .image-gallery .image.colspan-2 {
  grid-column: span 2;
}

@media screen and (min-width: 768px) {
  .payments .content-container .image-gallery .image.first {
    background: url(../img/bag-tablet-desk.jpg) no-repeat;
    background-size: cover;
  }

  .payments .content-container .image-gallery .image.second {
    background: url(../img/passport-tablet-desk.jpg) no-repeat;
    background-size: cover;
  }

  .payments .content-container .image-gallery .image.third {
    background: url(../img/people-tablet-desk.jpg) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1440px) {
  .payments .content-container {
    display: flex;
    justify-content: space-between;
  }
  .payments .content-container .text-content {
    width: 360px;
  }
  
  .payments .content-container .image-gallery {
    width: 790px;
    margin-top: 0;
  }
}